%title-1 {
  font-family: $font-audrey;
  font-size: 7rem;
  line-height: 1.35;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 500;
}

%title-2 {
  font-family: $font-audrey;
  font-size: 4rem;
  line-height: 1.46;
  text-transform: uppercase;
  letter-spacing: 0.14em;
  font-weight: 500;
}

%title-3 {
  font-family: $font-audrey;
  font-size: 2rem;
  line-height: 1.68;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  font-weight: 400;
}
