$color-white: #fff;
$color-white-light: rgba(255, 255, 255, 0.25);
$color-port-gore: #20254c;
$color-port-gore-light: rgba(32, 37, 76, 0.25);
$color-regent-st-blue: #acdbea;

$font-hind: 'Hind';
$font-audrey: 'Audrey';

$z-indexes: ('navigation', 'content', 'canvas');
