extends ../base.pug 

block variables 
  - var template = 'about'

block content
  .about
    .about__wrapper#wrapper
      h1.about__title
        span=about.data.title
      .about__filler 
      .about__content
        .about__content__text
          p=about.data.content_top
          p=about.data.content_bottom
        a.about__content__link(href=about.data.mail_link.url)=about.data.mail_text 