.home {
  @extend %page;
}

.home__wrapper {
  @extend %page__wrapper;

  @extend %cover;
}

.home__gallery {
  @extend %cover;
}

.home__gallery__item {
  position: absolute;
  top: 50%;
  left: 50%;
  user-select: none;
  will-change: width, height, transform, opacity, visibility;
}

.home__gallery__media__wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.home__gallery__media {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  user-select: none;
}

.home__gallery__media__img {
  @extend %cover;

  object-fit: cover;
  opacity: 0;
  user-select: none;
}

.home__gallery__title,
.home__gallery__category {
  position: absolute;
  left: 50%;
  width: 24rem;
  transform: translateX(-50%) scale(1.42857);
  transform-origin: top;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0s linear;
}

.is-overview {
  .home__gallery__title,
  .home__gallery__category {
    opacity: 1;
    pointer-events: none;
    transition: opacity 0.5s cubic-bezier(0.85, 0, 0.3, 1);
    transition-delay: 0.5;
  }
}

.home__gallery__title {
  @extend %title-3;

  top: calc(100% + 2.5rem * 1.42857);
}

.home__gallery__category {
  @extend %description-2;

  top: calc(-2.5rem * 1.42857);
}
