.header__nav,
.header__logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s linear;
  pointer-events: none;
  z-index: z('navigation');
}

.header__nav {
  opacity: 0;

  &.active.visible {
    opacity: 1;
  }
}

.header__nav__wrapper {
  width: 100%;
  max-width: calc(110rem + 2 * 3rem);
  padding: 0 3rem;
  margin: 0 auto;
}

.header__nav__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header__nav__item {
  padding: 0 1rem;
  color: $color-port-gore-light;
  pointer-events: all;
  transition: color 0.2s linear;

  &.active {
    color: $color-port-gore;
  }

  &:hover {
    color: $color-regent-st-blue;
  }

  a {
    @extend %description-2;
  }
}

.header__nav.inverted .header__nav__item {
  color: $color-white-light;

  &.active {
    color: $color-white;
  }

  &:hover {
    color: $color-regent-st-blue;
  }
}

.header__nav--active .header__nav__item {
  pointer-events: all;
}

.header__nav__dot {
  position: absolute;
  top: calc(50% + 1.5rem);
  left: calc(50% + 1rem);
  width: 0.5rem;
  height: 0.5rem;
  background-color: $color-regent-st-blue;
  border-radius: 100%;
  transition: transform 0.4s cubic-bezier(0.95, 0.01, 0.33, 1.21) 0.4s;
}

.header__logo {
  opacity: 0;
  mix-blend-mode: difference;

  &.active.visible {
    opacity: 1;
  }

  a {
    pointer-events: none;
  }

  &.active.visible a {
    pointer-events: all;
  }
}

.header__logo__progress {
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 7rem;
    height: 7rem;
    stroke: #dfdab3;
    stroke-width: 0.05rem;
    opacity: 0.3;
    stroke-dashoffset: 188.4px;
    stroke-dasharray: 188.4px;
  }
}
